@import url(reset.css);

body{
    background-color: #13538F;
    color: whitesmoke;
    
}

.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}

h1{
    font-size: 6rem;
    text-align: center;
    color: #FDCD5C;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
    
}

.btn-game{
    margin-top: 200px;
    height: 15rem;
    width: 15rem;
    flex-wrap: wrap;
    margin-left: 50px;
    border-radius: 20px;
    color: #FDCD5C;
    border: none;
/*    border: 4px solid  #FDCD5C;*/
    text-decoration: none;
    background-color: #13538F;
    font-size: 20px;
    cursor: pointer;
    
}

#tetris{
    background-color:  #13538F;
    
    transition-property: border, color,border-radius, background-color;
    transition-duration: 1s;
}

#tetris:hover{
    border: 5px solid #FDCD5C;
    border-radius: 8rem;
    background-color: #02427E;
}


.btn-game > img{
    width:75%;
    height: auto; 
}









