body{
    background-color:#02427E;
    color:whitesmoke;
}

#container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    color: #FDCD5C;
    font-size: 35px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
}

#gameView{
    border: 1px #FDCD5C solid;

    width: 400px;
    height: 600px;
    float: left;
    margin: 10px;
}

#use{
    float: left;
    width: 440px;
    height: 310px;
    border: 1px #FDCD5C solid;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    color: #FDCD5C;
    text-align: center;
    
}

#points{
    float: left;
    width: 440px;
    height: 268px;
    border: 1px #FDCD5C solid;
    border-radius: 10px;
    margin: 10px;
    color: #FDCD5C;
    font-size: 32px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

img{
    width: 35%;
    height: auto;
    margin: 0 auto;
}

#score{
    color: #FDCD5C;
    font-size: 52px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    /* vertical-align: middle;
    line-height: 310px; */
}
